.header {
    
    background-color: #cbd5e1;
    padding: .5em;

}
.header h1 {
    font-size: clamp(2.00rem, calc(1.13rem + 3.70vw), 4.00rem);
    font-weight: 700;
    text-align: center;
    color: #262626;
    
}