/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: 'Lato';
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*---- CSS RESET END---- */
/* CSS Fonts implementation */

@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Black.ttf);
  font-weight: 900;
}

/* Google Icons */

/* util class */
/**
 * WRAPPER
 * Sets a max width, adds a consistent gutter and horizontally
 * centers the contents
 */
 .wrapper {
  width: 90vw;
  width: clamp(12rem, 90vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  border-top: 1px solid #262626;
}
form h3 {
  text-align: center;
  font-size: 1.3rem;
}
input {
  border: 0;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  color:rgb(238, 238, 238)
}
.add__btn {
  background-color: #047857;
}
.add__btn:hover {
  transition: all 300ms;
  background-color: #60fbb3;
}
.del__btn {
  transition: all 300ms;
  background-color: #e22727;
}
.del__btn:hover {
  background-color: #e87f7f;
}


.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}


.header {
    
  background-color: #cbd5e1;
  padding: .5em;

}
.header h1 {
  font-size: clamp(2.00rem, calc(1.13rem + 3.70vw), 4.00rem);
  font-weight: 700;
  text-align: center;
  color: #262626;
  
}

.input__section {
  padding-inline: 1em;
}

.input__section,
.cvpreview__section {
  background-color: rgb(238, 238, 238);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  
}

.preview__section {
  
}
.cvpreview__section {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(10, 1fr);
  width: 210mm;
  height: 297mm;
  
  background-color: white;


  
}

.preview__header {
  
  
  grid-column: 1 / -1;
  background-color: rgb(20, 62, 114);
  color: rgb(238, 238, 238);
 
  padding-inline: 1em;
}
.preview__header h1 {
  font-size: 3rem;
}
.preview__header h2{
  font-size: 1.2rem;
  
}
.preview__main {
  
  /* border: 2px solid black; */
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}
.preview__details{
  
 /*  border: 2px solid black; */
  background-color: rgb(221, 221, 221);
  grid-row: 2 / -1;
  padding-inline: 1em;
}

.preview__details h4,
.preview__main h4 {
  font-size: 1.3rem;
}

.title__preview {
  border-bottom: 1px solid #64748b;
  margin-block: 1em;
  color: rgb(20, 62, 114);
}


/* experience */
.experience__content {
  display: flex;
  justify-content: space-between;
}